name: Run The Silent of Myth Agent

on:
  schedule:
    # ၈ နာရီခြားတစ်ခါ နိုးထရန် (၆ နာရီ အလုပ်လုပ်၊ ၂ နာရီနား)
    - cron: '0 */8 * * *'
  workflow_dispatch: # Master ကိုယ်တိုင် လက်နဲ့နှိပ်ပြီး Run ချင်ရင် သုံးရန်

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-code: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Agent
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python main.py
